aniso8601==8.0.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
docker==4.2.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restx==0.1.1
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.5.1
mirakuru==2.2.0
mongoengine==0.19.1
mongomock==3.19.0
more-itertools==8.2.0
packaging==20.3
pamqp==2.3.0
pika==1.1.0
pluggy==0.13.1
port-for==0.4
psutil==5.7.0
py==1.8.1
pymongo==3.10.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
pytest-rabbitmq==2.0.1
pytz==2019.3
rabbitpy==2.0.1
requests==2.23.0
sentinels==1.0.0
simplejson==3.17.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==0.16.1
zipp==3.1.0
